name: Terraform CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    env:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
      

      - name: Azure Login
        run: |
        az login --service-principal --username ${{ secrets.AZURE_CLIENT_ID }} --password ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}
        az account set --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
  
      - name: Terraform Init
        run: |
            terraform init
  
      - name: Terraform Format
        run: |
            terraform fmt -check=true
        continue-on-error: true
  
      - name: Terraform Validate
        run: |
            terraform validate
  
      - name: Remove Terraform State Lock
        run: |
          if terraform state lock show >/dev/null 2>&1; then
          terraform force-unlock -force fc1d3816-6702-9b6c-886e-5074419aa246
          else
          echo "No state lock found. Skipping removal."
          fi
        

      - name: Terraform Plan
        if: github.event_name == 'pull_request'
        run: |
              terraform plan -var "AZURE_CLIENT_ID=${{ env.AZURE_CLIENT_ID }}" \
              -var "AZURE_CLIENT_SECRET=${{ env.AZURE_CLIENT_SECRET }}" \
              -var "AZURE_SUBSCRIPTION_ID=${{ env.AZURE_SUBSCRIPTION_ID }}" \
              -var "AZURE_TENANT_ID=${{ env.AZURE_TENANT_ID }}"

      - name: Terraform Apply
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
                terraform apply --auto-approve \
                  -var "AZURE_CLIENT_ID=${{ env.AZURE_CLIENT_ID }}" \
                  -var "AZURE_CLIENT_SECRET=${{ env.AZURE_CLIENT_SECRET }}" \
                  -var "AZURE_SUBSCRIPTION_ID=${{ env.AZURE_SUBSCRIPTION_ID }}" \
                  -var "AZURE_TENANT_ID=${{ env.AZURE_TENANT_ID }}"
