name: Terraform CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
      

      - name: Azure Login
        run: |
          az login --service-principal --username ${{ secrets.AZURE_CLIENT_ID }} --password ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}
          az account set --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
  
      - name: Terraform Init
        run: |
            terraform init
  
      - name: Terraform Format
        run: |
            terraform fmt -check=true
        continue-on-error: true
  
      - name: Terraform Validate
        run: |
            terraform validate
  
      - name: Remove Terraform State Lock
        run: |
              terraform force-unlock -force cf42519d-02d1-f6ca-31a7-289edc12966f
        

      - name: Terraform Plan
        if: github.event_name == 'pull_request'
        run: |
              terraform plan
              echo "::set-env name=ARM_CLIENT_ID::${{ secrets.AZURE_CLIENT_ID }}"
              echo "::set-env name=ARM_CLIENT_SECRET::${{ secrets.AZURE_CLIENT_SECRET }}"
              echo "::set-env name=ARM_SUBSCRIPTION_ID::${{ secrets.AZURE_SUBSCRIPTION_ID }}"
              echo "::set-env name=ARM_TENANT_ID::${{ secrets.AZURE_TENANT_ID }}"

      - name: Terraform Apply
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
              terraform apply --auto-approve \
              -var "ARM_CLIENT_ID=${{ env.ARM_CLIENT_ID }}" \
              -var "ARM_CLIENT_SECRET=${{ env.ARM_CLIENT_SECRET }}" \
              -var "ARM_SUBSCRIPTION_ID=${{ env.ARM_SUBSCRIPTION_ID }}" \
              -var "ARM_TENANT_ID=${{ env.ARM_TENANT_ID }}"
  
      - name: Set Output Environment File
        run: |
            echo "PLAN_SUCCESS=${{ env.PLAN_SUCCESS }}" >> $GITHUB_ENV