name: Terraform CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
      

      - name: Azure Login
        run: |
          az login --service-principal --username ${{ secrets.AZURE_CLIENT_ID }} --password ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}
          az account set --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
  
      - name: Terraform Init
        run: |
            terraform init
  
      - name: Terraform Format
        run: |
            terraform fmt -check=true
        continue-on-error: true
  
      - name: Terraform Validate
        run: |
            terraform validate
  
      - name: Remove Terraform State Lock
        run: |
              terraform force-unlock a4e71fec-0040-e994-d4c3-e6e727e5fa90 --auto-approve


      - name: Terraform Plan
        if: github.event_name == 'pull_request'
        run: |
              terraform plan -lock=false -lock-timeout=10m > ${{ github.workspace }}/terraform-plan.txt
              
              
      - name: Terraform Apply
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
              terraform apply --auto-approve
  
      - name: Set Output Environment File
        run: |
            echo "PLAN_SUCCESS=${{ env.PLAN_SUCCESS }}" >> $GITHUB_ENV